<%=flash[:message]%>

<form action="/login" method="post">
  <p>Username: <input type="text" name="username" value="<%= @user && @user.username %>"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit" value="Log In">
</form>
