<h1>Item</h1>

<p><%=@item.name%> - <%=@item.quantity%> </p>


<% if @item.user == current_user%>
  <form action="/items/<%=@item.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Item">
  </form>
<%end%>
